@font-face {
    font-family: 'MyRiad-Regular';
    src: url("../fonts/MyriadPro-Regular.otf");
}

@font-face {
    font-family: 'MyRiad-Bold';
    src: url('../fonts/MyriadPro-Bold.otf');
}

body {
    position: relative;
}
fieldset {
    padding: .35em .625em .75em;
    margin: 0 2px;
    border: 1px solid silver;
}

legend {
    width: auto;
    border-bottom: none;
}
.main-header {
    background: #8E44AD;
    min-height: 630px;
}

.menu {
    width: 100%;
    margin-top: 50px;
}

.menu__options {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.menu__options li a {
    text-decoration: none;
    display: block;
    padding: 20px;
    color: #fff;
    font-family: 'MyRiad-Regular';
    font-size: 18px;
    letter-spacing: 1px;
}

.menu__options li a:hover {
   border-bottom: 2px solid #4E2875;
}

.center-section {
    margin-top: 80px;
    text-align: center;
}

.logo {
    width: 300px;
    display: block;
    margin: 0 auto;
}

.center-section__main__title {
    margin-bottom: 0;
    text-align: center;
    font-family: 'MyRiad-Bold';
    color: #fff;
}

.center-section__second__title {
    margin-top: 0;
    text-align: center;
    font-family: 'MyRiad-Bold';
    color: #fff;
    margin-bottom: 20px;
}

.center-section__schedule {
    border-radius: 200px;
    padding: 17px 20px;
    font-family: 'MyRiad-Bold';
    background: #4E2875;
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
}

.center-section__schedule:hover {
    background: #000;
    color: #fff;
}

/*News Section*/
.news-section {
    margin-top: 50px;
}

.news-bar {
    width: 100%;
    height: 40px;
    background: #4E2875;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.news-bar-title {
    color: #fff;
    margin: 0px;
    margin-left: 20px;
    font-family: 'MyRiad-Bold';
}

.see-more {
    margin-right: 20px;
}

.see-more a {
    color: #fff;
    font-family: 'MyRiad-Regular';
}

/*End News Section*/

.news-itens {
    margin-top: 30px;
}

.news-image {
    height: 240px;
    background: #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.news-item a {
    display: block;
    text-decoration: none;
}

.news-item.left {
    padding-left: 0px;
    margin-bottom: 40px;
}

.news-item.right {
    padding-right: 0px;
    margin-bottom: 40px;
}

.news-title {
    font-family: 'MyRiad-Bold';
    font-size: 22px;
    color: #000;
}

.news-pre-text {
    font-family: 'MyRiad-Regular';
    color: #000;
}

.form-title {
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'MyRiad-Regular';
}

.home-login-form {
    border-radius: 10px;
}

.palavra-diaria {
    width: 100%;
    position: relative;
    height: 300px;
    padding: 0px 200px;
    background: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.palavra-diaria:before {
    background-image: url('../img/home_background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    content:'';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    z-index: -1;
}

.palavra-diaria > .title {
    color: #fff;
    letter-spacing: 2px;
    font-size: 29px;
    font-family: 'MyRiad-Bold';
}

.palavra-diaria > .content {
    color: #fff;
    font-family: 'MyRiad-Regular';
    font-weight: lighter;
    text-align: center;
}

.palavra-diaria > .reference {
    color: #fff;
    font-family: 'MyRiad-Regular';
    font-weight: lighter;
    font-size: 13px;
}

.area-title {
    text-align: center;
    font-family: 'MyRiad-Bold';
}

.area-subtitle {
    text-align: center;
    font-family: 'MyRiad-Regular';
    font-size: 19px;
}

.schedule {
    margin-top: 45px;
}

.schedule-itens {
    width: 100%;
    margin-top: 50px;
}

.calendar-icon {
    width: 30px;
}

.week-day {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
    justify-content: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.week-day > svg {
    margin: 0px 15px;
}

.schedule-item {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 0px 20px;
    height: 250px;
    margin-bottom: 20px;
}

.cultoHorario {
    font-size: 15px;
}

.cultoTema {
    display: block;
    padding-left: 20px;
    font-size: 14px;
}

.menu-icon {
    width: 30px;
    fill: #fff;
}

.menu-responsive-icon {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: start;
    margin-top: 20px;
    padding: 0px 15px;
}

.menu-responsive {
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 100vh;
    background: #8E44AD;
    z-index: 2;
    display: none;
}

.menu-close-icon {
    width: 100%;
    display: flex;
    align-items: start;
    flex-direction: row-reverse;
    padding: 20px;
}

.menu-close-icon > svg {
    width: 30px;
    fill: #fff;
    cursor: pointer;
}

.menu-logo {
    width: 110px;
    display: block;
    margin: 0 auto;
}

.menu-options ul {
    list-style-type: none;
    padding-left: 0;
}

.menu-option a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 15px;
    font-family: 'MyRiad-Regular';
    font-size: 18px;
    text-align: center;
}

@media only screen and (max-width: 992px) {
    .news-item.left {
        padding-right: 0px;
    }

    .news-item.right {
        padding-left: 0px;
    }

    .palavra-diaria {
        padding: 0px 50px;
    }
}

@media only screen and (max-width: 486px) {
   .palavra-diaria {
        padding: 0px 10px;
    } 
}

@media only screen and (max-width: 767px) {
    .center-section {
        margin-top: 45px; 
    }
    .main-header {
        min-height: 520px;
    }
}